<div class="user-details">
  <h1>Sobre</h1>
  <p>{{site.user_description}}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Frameworks</h2>
    <i class="selenium"></i>
    <i class="webdriverio-icon"></i>
    <i class="appium"></i>
    <i class="cucumber"></i>
    <i class="pytest-icon"></i>
    <i class="behave-icon"></i>
    <p>
      Selenium, WebdriverIO, Appium, Cucumber, Pytest, behave, Mocha, CodeceptJS
    </p>
  </div>
  <div class="tech">
    <h2>Linguagens</h2>
    <i class="python"></i>
    <i class="devicon-javascript-plain colored"></i>
    <i class="java"></i>
    <i class="sql-icon"></i>
    <p>
      Python, JavaScript, Java, Sql.
    </p>
  </div>
  <div class="tech">
    <h2>Ferramentas</h2>
    <i class="jira-icon"></i>
    <i class="postman"></i>
    <i class="git"></i>
    <i class="docker"></i>
    <i class="studio-icon"></i>
    <i class="jenkins"></i>
    <p>
      Jira, Postman, Gatling, Locust, SoupUI, Git, Docker, Android Studio,
      Jenkins.
    </p>
  </div>
</div>
