<div class="user-details">
  <h1> Artigos e Tutoriais </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/python_report.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Gerando relatórios de testes automatizados com Selenium em Python </h3>
    <ul>
      <li> Selenium</li>
      <li>Python</li>
    </ul>
    <p>No tutorial demonstro como fazendo o uso do Pytest e seus Plugins, podemos gerar relatórios dos testes automatizados.</p>
    <a class="project-link" href="https://agiletesters.com.br/topic/1211/gerando-relat%C3%B3rios-de-testes-automatizados-com-selenium-em-python">Confira</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="skate" src="{{ "/assets/img/postman.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Automatizando testes de APIs Rest com Postman e Newman </h3>
    <ul>
      <li> Postman </li>
      <li> Newman </li>
    </ul>
    <p>Neste tutorial apresento uma simples, que não envolve quase nada de programação, para que você possa automatizar os testes de APIs.</p>
    <a class="project-link" href="https://agiletesters.com.br/topic/1270/automatizando-testes-de-apis-rest-com-postman-e-newman">Confira</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="/assets/img/auto_test.png" />
  </div>
  <div class="contents">
    <h3> Automação de testes: objetivos, abordagens, vantagens, desvantagens e limitações </h3>
    <ul>
      <li> Automação </li>
      <li>Objetivos</li>
    </ul>
    <p>Neste artigo escrevo um pouco sobre a automação de testes, grande parte da informação descrita aqui foi tirada do Syllabus da ISQTB para a certificação CTAL Test Automation Engineer.</p>
    <a class="project-link" href="https://www.linkedin.com/pulse/automa%C3%A7%C3%A3o-de-testes-objetivos-abordagens-vantagens-e-alan-schveitzer/">Confira</a>
  </div>
</div>
